:root{
    --color-dark: #616060;
    --color-light: #f5f5f5;
    --color-highlight: #c9c5c5;
    --color-header: #b16117;
    --color-logo: #3b3b3b;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-header);
}

header h1{
    font-size: 2.5rem;
    user-select: none;
    color: var(--color-logo);
}

.header--menu ul{
    display: flex;
    gap: 1.5rem;
}

.header--menu ul li{
    list-style-type: none;
    font-size: 1.5rem;
    color: var(--color-light)
}

.header--menu ul li a:hover{
    cursor: pointer;
    color: var(--color-highlight);
}

.header--menu ul li a{
    text-decoration: none;
    color: var(--color-light);
}

.slider--container{
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.button--arrow{
    width: 50px;
    height: 50px;
    z-index: 111;
    position: absolute;
    top: 250px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b16117cc;
    border: none;
}

.button--arrow-left{
    left: 250px;
}

.slider--container .button--arrow-left img{
    width: 30px;
}

.slider--container .button--arrow-right img{
    width: 30px;
    transform: rotate(180deg);
}

.button--arrow-right{
    right: 250px;
}

.slider--image{
    position: relative;
    top: -500px;
    width: 1600px;
    z-index: -1;
}

.main--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.book--container{
    height: 400px;
    margin-top: 5rem;
}

.icon--search{
    width: 25px;
}

.about_us--container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about_us--container img{
    box-shadow: black 0 0 5px;
    border-radius: 5px;
}

.about_us--container p{
    font-size: 1.5rem;
}

.form--book{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-logo);
    color: var(--color-light);
    padding: 1rem;
}

.form--book label{
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.form--select{
    height: 30px;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.form--date{
    height: 30px;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.form--book button{
    background-color: transparent;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 60px;
}

.form--book button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--color-light);
}

.form--submit img{
    width: 30px;
    height: 30px;
}

footer{
    background-color: var(--color-header);
    height: 250px;
    margin-top: 3rem;
}

.footer--info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
}

.footer--info span{
    font-size: 1.5rem;
    font-weight: bold;
}

.form--footer{
    display: flex;
    gap: 0.5rem;
}

.form--footer input{
    height: 30px;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.form--footer .form--footer-message{
    height: 100px;
    width: 300px;
    padding: 0.5rem;
    font-size: 1.2rem;
}